#main-title {
    text-align: center; 
    padding-bottom: 20px;
}

#info-area {
    margin-top: 10px;
    margin-bottom: 40px;
}

#info-area > pre {
    margin-bottom: 20px;
}

#info-area > h3 {

    color: #531235;
}